<div class="box">
  <h2>
    <span class="username">
      <%= logged_in? ? link_to(problem.user.name, user_path(problem.user)) : "Anonymous" %>
    </span> asked <%= time_ago_in_words(problem.updated_at) %> ago
  </h2>
  <p>
    <%= problem.body %>
  </p>

    <% if logged_in? %>
      <div class="answer" onclick="this.innerHTML = '<b>Answer: </b><%= problem.answer %>'">
        <div class="hidden_answer">
          Click here to see the answer
        </div>
      </div>
    <% else %>
      <div class="restricted_answer">
        Log in to see the answer and the author
      </div>
    <% end %>
</div>
