<div class="box">
  <h2>
    <span class="username">
      <%= logged_in? ? problem.user.name : "Anonymous" %>
    </span> asked <%= time_ago_in_words(problem.updated_at) %> ago
  </h2>
  <p>
    <%= problem.body %>
  </p>
  <div class="answer">
    <% if logged_in? %>
      <b>Answer:</b> <%= problem.answer %>
    <% else %>
      <div class="hidden_answer">
        Log in to see the answer and the author
      </div>
    <% end %>
  </div>
</div>
