/********** Variables **********/

$grey: #24292E;
$light-grey: #3F4347;
$blue: #00ACEA;

/********** General **********/

* {
  box-sizing: border-box;
}

body {
  background-color: $grey;
  color: white;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.content {
  padding-top: 60px;
}

h1, h2 {
  margin: 0; /* reset default margin */
}

/********** Header **********/

.header {
  background-color: $light-grey;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 3px solid $grey;

  img {
    width: 50px;
  }

  h1 {
    font-weight: 400;
    letter-spacing: -0.1em;
    margin: 0;
    display: none; /* on mobile devices */
    background-color: white;
  }

  .nav {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding-left: 25px;
      float: right;
    }
  }
}

/********** Riddle **********/

.riddle {
  //padding: 30px;
  margin-top: 20px;
  background-color: $light-grey;
  line-height: 1.4;

  h2 {
    padding: 30px 30px 0 30px;
    font-size: 16px;
    font-weight: 300;
    .username {
      font-weight: 800;
      color: $blue;
    }
  }
  p {
    padding: 30px;
    margin: 0;
  }
  .answer {
    padding: 20px 30px;
    border-top: 1px solid $grey;
  }
}
