/********** Variables **********/

//Colors
$grey: #24292E;
$light-grey: #3F4347;
$lighter-grey: #8a8a8a;
$blue: #00ACEA;
$green: #278664;
$red: #732323;
//Font-weight
$normal: 400;
$light: 300;
$bold: 800;


/********** General **********/

* {
  box-sizing: border-box;
}

body {
  background-color: $grey;
  color: white;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding-top: 65px;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  flex: 1;
}

h1, h2 {
  margin: 0; /* reset default margin */
  font-weight: $normal;
}

a {
  color: white;
  text-decoration: none;
}

/********** Header **********/

.header {
  background-color: $light-grey;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 3px solid $grey;

  img {
    width: 50px;
  }

  h1 {
    font-weight: $normal;
    letter-spacing: -0.04em;
    margin: 0;
    font-size: 28px;
    padding-left: 8px;
    display: none; /* on mobile devices */
  }

  .nav {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding-left: 25px;
      float: right;
      font-weight: $light;
    }
  }
}

/********** Box (riddle and user) **********/

.box {
  margin-top: 20px;
  background-color: $light-grey;
  line-height: 1.4;

  h2 {
    padding: 30px;
    font-size: 16px;
    font-weight: $light;
    .username {
      font-weight: $bold;
      color: $blue;
    }
  }

  p {
    padding: 0 30px 30px 30px;
    margin: 0;
  }

  .answer, .restricted_answer {
    padding: 20px 30px;
    border-top: 1px solid $grey;
  }

  .restricted_answer, .hidden_answer {
    text-align: center;
    font-weight: $light;
  }
}

/********** Forms **********/

form {
  padding: 0 20px;
  h1 {
    text-align: center;
    font-weight: $normal;
    font-size: 24px;
    padding: 30px;
  }

  input, textarea {
    display: block;
    width: 100%;
    background-color: $light-grey;
    border: none;
    color: white;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 18px 20px;
    outline: 0;
    outline-offset: 0;
  }

  input[type="submit"] {
    background-color: $blue;
    color: white;
    margin-top: 30px;
    transition: background-color 0.1s;
    &:hover {
      background-color: black;
    }
  }
}

/********** Alerts **********/

.alert {
  padding: 18px 20px;
  margin: 20px 0;
}

.alert-success {
  background-color: $green;
  text-align: center;
}

.alert-errors {
  background-color: $red;
}

/********** Footer **********/

.footer {
  text-align: center;
  padding: 25px;
  font-size: 14px;
  font-weight: $light;
  img {
    width: 60px;

  }
}

/********** Media queries **********/

@media (min-width: 720px) {
  .header {
    padding: 20px 100px;
    img {
      width: 40px;
    }

    h1 {
      display: inline-block;
    }

    .nav li {
      padding-left: 40px;
    }
  }

  .content {
    padding-top: 75px;
  }

  .box {
    border-radius: 6px;
    p, .answer, h2 {
      padding-left: 70px;
      padding-right: 70px;
    }
  }
}
